env:
  global:
    - DISPLAY=":99.0"
language: ruby
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1
#  - rbx-2
  - ruby-head
matrix:
  allow_failures:
#    - rvm: rbx-2
  fast_finish: true
before_install:
  - ./travis-before-script.sh
before_script:
  - sh -e /etc/init.d/xvfb start
after_script:
  - sh -e /ext/init.d/xvfb stop
