@import "./config";

body {
  padding: 10px;
  background: #eeeeee;
}

footer {
  margin: 0;
  padding: 5px;
  color: $base-color;
  text-align: right;
}

ul {
  li {
    float: none;
    list-style: none;
    position: relative;
    padding: 3px;

    a {
      text-decoration: none;
    }

    label {
      display: block;
      padding: 10px 20px;
      border-radius: 20px 20px 20px 20px;
      font-weight: normal;
      color: black;
      background: rgba(192, 192, 192, 0.2);
      cursor: pointer;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: rgba(128, 128, 128, 0.5);
      }
    }
  }
}
